<div class="row">
    <div class="col-md-8">
        <div *ngIf="showError" class="alert alert-danger">Login et/ou mot de passe invalide(s)</div>

        <form #f="ngForm" (ngSubmit)="onLogin(f)">
            <label for="adresseMail">Login</label>
            <input #inpLogin="ngModel" type="text" class="form-control" required email ngModel name="email"
                id="adresseMail">

            <div *ngIf="inpLogin.invalid && inpLogin.dirty" class="alert alert-danger">Veuillez saisir une adresse mail
                valide</div>

            <label for="">Mot de passe</label>
            <input type="text" minlength="4" class="form-control" ngModel name="password">

            <!-- <div #divInfos="ngModelGroup" ngModelGroup="infos">
                <label for="">Langage préféré</label>
                <select [ngModel]="defaultLanguage" name="language" class="form-control">
                    <option value=""></option>
                    <option value="js">Javascript</option>
                    <option value="java">Java</option>
                    <option value="php">Php</option>
                </select>



                Default Language = {{ defaultLanguage }}

                <label for="">Commentaire</label>
                <textarea [(ngModel)]="myComment" name="commentaire" cols="5" rows="4" class="form-control"></textarea>

                myComment = {{ myComment}}

            </div>

            <label>Gestion des erreurs</label>
            <input #inpError="ngModel" type="text" class="form-control" required minlength="5" pattern="nidhal" ngModel
                name="erreurs">
            <div *ngIf="inpError.invalid" class="alert alert-danger">
                <p *ngIf="inpError.errors['required']">Ce champ est obligatoire</p>
                <p *ngIf="inpError.errors['minlength']">Le nombre minimal de caractères est 5</p>
                <p *ngIf="inpError.errors['pattern']">Le pattern est "nidhal"</p>
            </div>
 -->
            <br>
            <button type="submit" class="btn btn-info">Se connecter</button>
            <!-- <button (click)="onReset(f)" class="btn btn-info">Réinitialiser</button>

            <pre>
            {{ f.value | json }}
            </pre> -->
        </form>
    </div>
</div>